
Here is a list of all of the meetups!
<% authenticate! %>

<li>Name of Event: <%= @meetups.name %></li>
<li>Description: <%= @meetups.description %></li>
<li>Location: <%= @meetups.location %></li>

      <% if @current_user_rsvp_list %>
        <form method='POST' action='/leave_meetup'>
          <button type='submit' name='meetup' value='<%= params[:id] %>'>Leave this Meetup</button>
        </form>
      <% else%>
      <form method='POST'>
        <ul><button type='submit'>Join this Meetup</button></ul>
      <% end %>
      </form>






      <h1> Users already signed up for this meetup : </h1>
        <% @rsvps.each do |rsvp| %>
          <% if @users.each do |user| %>
            <% if rsvp[:user_id] == (user[:id]) %>
              <li><%= user[:username] %>
              <img src=<%= "#{user[:avatar_url]}"%>></li>
              <% end %>
          <% end %>
        <% end %>
      <% end %>
