
Here is a list of all of the meetups!


<li>Name of Event: <%= @meetups.name %></li>
<li>Description: <%= @meetups.description %></li>
<li>Location: <%= @meetups.location %></li>

   <% if signed_in? %>
      <form method='POST'>
        <ul><button type='submit'>Join this Meetup</button></ul>
    <% else %>
      <a href="/auth/github"><button type='submit'>Sign in to join this meetup</button></ul></a>
    <% end %>
      </form>



      <h1> Users already signed up for this meetup : </h1>

        <% @rsvps.each do |rsvp| %>
          <% if @users.each do |user| %>
            <% if rsvp[:user_id] == (user[:id]) %>
              <li><%= user[:username] %>
              <img src=<%= "#{user[:avatar_url]}"%>></li>
              <% end %>
          <% end %>
        <% end %>
      <% end %>
